
/* COOMON*/
html, body{height:100%;}
.body__wrapper{font-family: 'Roboto', sans-serif; font-size: 15px; font-weight: 400; color: #333; box-sizing: border-box;}


.clearfix::after{content:'';display: inline-block;clear: both;}
.float--left{float:left;}
.float--right{float:right;}

/* COOMON-section */
section{position: relative;}
.inner{margin: 0 auto; width:1140px; height:auto;}
.section--banner .title h2{font-family: 'Rufina', serif;}


/* COOMON-title */
.title h2{}
.title span{font-size:15px; font-weight: 500; text-transform: uppercase; color:#888;}
.title p{font-size:15px; line-height: 2em;}


/* COMMON - button */
.btn__primary{display: block;}


/* HEADER */
header{position: relative;}
header .inner{height:96px;}
header .header__logo{padding:20px 0 0 28px;}
header .header__logo a{display:block; width: 54px; height:82px; background: url(../images/header_logo.png); text-indent: -9999px;}
header nav{position: absolute; top:0; padding:70px 0 0 195px;}
header nav ul li{float:left; margin-right: 30px;}
header nav ul li:last-child{margin-right: 0;}
header nav ul li a{display: block; font-size: 14px; font-weight: 500; line-height: 2em;}


/* SECTION -- BANNER */
.section--banner{margin-top:190px;}
.section--banner .title{font-family: 'Rufina', serif;}
.section--banner .title strong{font-weight: 400; color:#ff817e; text-transform: uppercase; line-height: 2em; letter-spacing: 1.5px;}
.section--banner .title h2{font-size:60px; font-weight: 700; line-height: 1.3em; color:#000;}
.section--banner .title p{margin-top:48px; font-family: 'Roboto', sans-serif; font-size:15px; line-height: 2em; color:#000;}

.banner__btn{margin-top:58px;}
.btn--submit{margin-right: 56px; width: 170px; height:50px; color:#ff817e;}


/* SECTION --  about */
.section--about{}
.section--about .inner{}
.section--about .title{}