@charset "utf-8"

html, body{padding: 0; margin: 0; border:0;}
img{vertical-align: top;}
ul, li{list-style: none; margin:0; padding:0;}

#slide-container{width: 100%;}
.slide-view{width: 100%; overflow: hidden;}
.slide-view .slide-wrap{position: relative; left:calc(-480px*0); width: calc(480px*12); margin-left:(-480px*4);}
.slide-view .slide-wrap .slide{float:left; width: 480px;}
.slide-view .slide-wrap .slide img{width: 100%;}

